:root {
    --colorPrincipal: #002264;
}

.Colab {
    color: var(--colorPrincipal);
    font-size: 3rem;
    text-align: center;
}

.CardsColab{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
}
.contribuidorImg{
    width: 5rem;
}

