.card {
  background: var(--app-background-color);
  border-radius: 8px;
  border: 2px solid #001e60;
  box-shadow: var(--app-shadow-color) 14px 14px;
  color: inherit;
  cursor: pointer;
  margin: 1rem 0 1rem;
  padding: 64px 1.5rem 1.5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: var(--app-shadow-color) 18px 18px;
}

.card header {
  background: var(--app-background-color);
  border-radius: 5000px;
  border: 4px solid var(--app-background-color);
  left: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -36px;
  width: 80px;
}

.card section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.card p {
  color: #2c7cdc;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.card span {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

.card div + div {
  margin-top: 24px;
}

.card .secondary {
  color: var(--text-secondary-color);
  font-size: 1.9rem;
}

.card small {
  align-items: center;
  color: var(--text-small-color);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  padding: 0.3rem 0;
}

.card small > span {
  margin-left: 8px;
}
