.footer-container {
    display: flex;
    justify-content: center;
}

.footer-container-contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-img {
    width: 6rem;
}