*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    background-color: transparent;
    display: flex;
    width: 100%;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}
nav .logo-nav {
    padding-left: 0;
}
nav .logo-nav img{
    width: 3.5rem;
    height: 1rem;
}
nav .boton-nav img{
    width: 0.5rem;
    height: 0.5rem;
}
nav .boton-nav button{
    font-size: 10px;
}
nav .boton-nav {
    position: relative;
    background-color: white;
    right: 0;

}

/* -----------Cards----------------- */

.contenedor-tarjeta{
    display: flex;
}
.tarjeta img{
    width: 25px;
    height: 25px;
}

.tarjeta{
    background-color: white;
    padding: 10px;
    border: solid 2px black;
    border-radius: 10px;
    width: 290px;
    height: 290px;
}
