:root {
    --colorPrincipal: #002264;
}

.sponsorsTitulo {
    color: var(--colorPrincipal);
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
}

.CardsSponsors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.CardsSponsors-container-img {
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--colorPrincipal);
    height: 8rem;
    border-radius: 15px;
    box-shadow: 10px 10px 20px var(--colorPrincipal);
}

.CardsSponsors-container-img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.CardsSponsors-container-img img {
    width: 20rem;
}