* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-background-color: #fefefe;
  --app-background-secondary-color: #fafafa;
  --app-border-color: #000;
  --app-shadow-color: #d2effd;
  --app-selection-color: #6cd0ff;
  --app-background: radial-gradient(#cdd0ff 1px, transparent 0),
    radial-gradient(#cdd0ff 1px, #fefefe 0);

  --text-base-color: #000;
  --text-secondary-color: #333;
  --text-title-color: #1f315a;
  --text-subtitle-color: #001e63;
  --text-small-color: #555;
  --graph-fill-color: #00adcc;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  background-color: var(--app-background-color);
  background-image: var(--app-background);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  color: var(--text-base-color);
}

*::-webkit-scrollbar {
	display: none;
}